ReactApp/obj
ReactApp/.awcache
ReactApp/bin
ReactApp/node_modules
Swinz.Database/obj
Swinz.Database/bin
.vs/Swinz/v15/.suo
ApiBase/obj
CustomerApi/obj
OrderApi/obj
ProductApi/obj
StatsApi/obj
Swinz.Database/Swinz.Database.jfm
Swinz.Database/Swinz.Database.dbmdl
.vs/Swinz/v15/Server/sqlite3/storage.ide-wal
.vs/Swinz/v15/Server/sqlite3/db.lock
.vs/Swinz/v15/Server/sqlite3/storage.ide
.vs/Swinz/v15/Server/sqlite3/storage.ide-shm
ApiBase/bin
BusinessLayer/bin
BusinessLayer/obj
Services/CustomerApi/obj
Services/CustomerApi/bin
Services/ApiBase/obj
Services/ApiBase/bin
ReactApp/wwwroot/dist
.vs/config/applicationhost.config
Services/ProductApi/bin
Services/UserApi/obj
Services/ProductApi/obj
Services/UserApi/bin
