.customer-btn-add {
    padding-left: 0.3vw;
    padding-right: 0.2vw;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    margin-bottom:0.7vw;
    margin-left: 0.01vw; // Position of btn from left
}