@import './reacstrap/Nav-Item';
@import './reacstrap/Customers';
@import './Modal';

@import './reacstrap/Buttons';

// Customer area stylization
@import './customers/Buttons'; 
// Additional styles for default Container Reactstrap component
@import './reacstrap//Container';


@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('./fonts/Quicksand.scss');

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}


.test {

    margin-left: 20px;
    margin-top: -15px;
}


.test2 {

    margin-left: 65px;
    margin-top: -30px;
    margin-right: 500px;
}