.customers-list {

    text-align: center;
}

.list-delete-btn { // Stylization for remove item in the collection of items
    margin-left: 8vw;
}

.customers-title {

    font-size: 2em;
}

.customer-edit-btn { // Stylization for customers edit button

    margin-left: 8vw; // Left spacing for edit btn
}